.sevenDisplay {
	width: 250px;
	height: 400px;
	background-color: #444444;
	position: relative;
	float: left;
}
.sevenDisplay .dpA {
	width: 200px;
	height: 30px;
	position: absolute;
	top: 25px;
	right: 12px;
	margin: auto;
	background-color: #FF0000;
	border-radius: 30px;
}
.sevenDisplay .dpB {
	width: 30px;
	height: 200px;
	position: absolute;
	right: 12px;
	top: 25px;
	background-color: #FF0000;
	border-radius: 30px;
	transform: rotate(5deg);
}
.sevenDisplay .dpC {
	width: 30px;
	height: 200px;
	position: absolute;
	right: 25px;
	bottom: 25px;
	background-color: #FF0000;
	border-radius: 30px;
	transform: rotate(5deg);
}
.sevenDisplay .dpD {
	width: 200px;
	height: 30px;
	position: absolute;
	bottom: 25px;
	left: 12px;
	background-color: #FF0000;
	border-radius: 30px;
}
.sevenDisplay .dpE {
	width: 30px;
	height: 200px;
	position: absolute;
	left: 12px;
	bottom: 25px;
	background-color: #FF0000;
	border-radius: 30px;
	transform: rotate(5deg);
}
.sevenDisplay .dpF {
	width: 30px;
	height: 200px;
	position: absolute;
	left: 25px;
	top: 25px;
	background-color: #FF0000;
	border-radius: 30px;
	transform: rotate(5deg);
}
.sevenDisplay .dpG {
	width: 200px;
	height: 30px;
	position: absolute;
	top: 185px;
	left: 25px;
	background-color: #FF0000;
	border-radius: 30px;
}